<h1>Group: {{selectedGroup.name}}</h1>

<h3>Contacts In Group</h3>
<div ng-repeat="contact in contacts | filter:{isGrouped:true}">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-1"><input type="checkbox" name="" ng-model="contact.isGrouped" ng-change="inputChange(contact)"></div>
            <div class="col-xs-9"><a href="#/contacts/view/{{contact.id}}">{{contact.firstname + " " + contact.lastname}}</a></div>
        </div>
    </div>
</div>

<h3>Contacts Not In Group</h3>
<div ng-repeat="contact in contacts | filter:{isGrouped:false}">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-1"><input type="checkbox" name="" ng-model="contact.isGrouped" ng-change="inputChange(contact)"></div>
            <div class="col-xs-9"><a href="#/contacts/view/{{contact.id}}">{{contact.firstname + " " + contact.lastname}}</a></div>
        </div>
    </div>
</div>


